[Desktop Entry]
Name=Android Studio
Comment=IDE
GenericName=Android Studio
X-GNOME-FullName=Android Studio
Exec=/opt/android-studio/bin/studio.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/android-studio/bin/studio.png
Categories=IDE;
StartupWMClass=Android Studio
StartupNotify=true
