[Desktop Entry]
Name=Pycharm
Comment=Python Editor
GenericName=Pycharm
X-GNOME-FullName=Pycharm Editor
Exec=/opt/pycharm-community-2020.1.3/bin/pycharm.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/pycharm-community-2020.1.3/bin/pycharm.png
Categories=IDE;Editor;Python
MimeType=py
StartupWMClass=Pycharm
StartupNotify=true
