[Desktop Entry]
Name=WeChat
Comment=Communication
GenericName=WeChat
X-GNOME-FullName=WeChat
Exec=/opt/electronic-wechat-linux-x64/electronic-wechat
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=icon.png
Categories=Network;Conmmunication;
StartupWMClass=WeChat
StartupNotify=true
